$primaryColor = #FFF;
$primaryColorDarker = #9A96A0;

$secondaryColor = #03DAC6;
$secondaryColorDarker = #02998A;

$thirdColor = #BB86FC;
$thirdColorDarker = #332940;

$fourthColor = #787878;

$fifthColor = #1A237E;
$fifthColorLighter = #184394

$darkHeavy = #000000;
$darkMedium = #121212;
$darkColorLight = #292929;

$errorColor = #B00020;